.card-container {
    /* border: solid yellow; */
    height: 80vh;
    width: 95vw;
}

.notable {
    /* border: 1px solid red; */
    text-align: center;
    opacity: 0;
    word-spacing: 0.1rem;
    letter-spacing: 0.05rem;
    transition: opacity 400ms 40ms linear;
}

.fade-in {
    opacity: 1;
}

/* .top-container {
    border: 1px solid green;
} */

.top-container .image-container {
    /* border: 1px solid blue; */
    width: 30%;
    min-height: 17rem;
}

.top-container img {
    border-radius: 50%;
}

/* makes consistent space for bio*/
.bio {
    min-height:1.5rem;
}

/* .repos-container {
    border: 1px solid purple;
} */

.repos-number {
    /* border: 1px solid skyblue; */
}
/* 
.url {
    border: 1px solid seagreen;
}

.all-repos {
    border: 1px solid orange;
} */

.all-repos ul {
    border: 1px solid gray;
    /* height: 70%; */
    max-height: 28vh;
    overflow: auto;
    width: 100%;
}

.all-repos ul li {
    list-style: none;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 30% 70%;
    padding-block-start: 2%;
    padding-block-end: 2%;
    border-top: 1px solid rgba(128, 128, 128, 0.253);
    transition: background-color 100ms 40ms linear;
}

.all-repos ul li:hover {
    background-color: rgba(128, 128, 128, 0.15);
}

.all-repos ul li > a {
    /* grid-row-start: 2;
    grid-row-end: 5; */
}

.all-repos ul li > span {
    /* border: 1px solid gray; */
    cursor: pointer;
}