@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

.header {
    font-family: "Tiny5", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    white-space: nowrap;
    width: 100vw;
    overflow-x:hidden;
}

.animate-text {
    position: absolute;
    z-index: 0;
    font-size: 2.7rem;
    animation: loop 18s linear infinite;
    word-spacing: 4rem;
    letter-spacing: 1.5rem;
}

.animate-text2 {
    position: absolute;
    z-index: 0;
    font-size: 1.5rem;
    font-weight: 400;
    word-spacing: 2.5rem;
    letter-spacing: 2rem;
    opacity: 0.7;
}

.animate-text3 {
    position: absolute;
    z-index: 0;
    font-size: 1rem;
    animation: loop 15s 1s linear infinite;
    word-spacing: 2rem;
    letter-spacing: 1rem;
    opacity: 0.6;
}

@keyframes loop {
    0% {translate: 100%;}
    100% {translate: -100%;}
}

.image-overlay {
    background-image: url('../../assets/background-image/water-color-transparent.png');    
    background-repeat: repeat-x;
    background-size: contain;
    z-index:2;
    position: relative;
    min-height: 5vh;
}
