nav {
    /* border: solid orangered; */
    width: 100%;
}

nav ul {
    /* border: solid white; */
}

nav ul li  {
    /* border: solid slateblue; */
    list-style-type: none;
    margin: 0;
    padding: 0;
}