.all-languages {
    width: 60%;
    position: relative;
}

/* largest circle - most used language */
.all-languages > div:first-child {
    border: 1px solid red;
    width:17rem;
    height: 17rem;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

/* mid sized circle - 2nd most used language */
.all-languages > div:nth-child(2) {
    border: 1px solid orange;
    width:11rem;
    height: 11rem;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

/* smallest circle - 3d most used language */

.all-languages > div:last-child {
    border: 1px solid blue;
    width:6rem;
    height: 6rem;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}