body {
    border: solid blue;
    min-height: 98vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.main-layout {
    min-width: 95vw;
    align-items: center;
    justify-content: space-between;
    border: 1px solid orange;
}


.display-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-around {
    align-items: center;
    justify-content: space-around;
}

footer {
    width: 100%;
}